In [1]:
import numpy as np
import pandas as pd

In [2]:
a=pd.read_csv('train.csv')

In [3]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [4]:
#a.head(800)
#a['Age'].mean()
a[['Pclass','Age']].groupby('Pclass',as_index=False).mean()

   Pclass        Age
0       1  38.233441
1       2  29.877630
2       3  25.140620

In [5]:
a.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [6]:
sex=pd.get_dummies(a['Sex'],drop_first=True)
embarked=pd.get_dummies(a['Embarked'],drop_first=True)

In [7]:
a=pd.concat([a,sex,embarked],axis=1)

In [8]:
a['Age']=a['Age'].fillna(a['Age'].mean())

In [9]:
a.drop(['Sex','Embarked','Name','Cabin','Ticket'],axis=1,inplace=True)

In [10]:
#a.info()
X=a.drop('Survived',axis=1)
y=a['Survived']

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [13]:
from sklearn.linear_model import LogisticRegression

In [14]:
o=LogisticRegression()

In [15]:
o.fit(X_train,y_train)
#o.fit(X,y)

C:\Users\Mayank\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [16]:
predictions=o.predict(X_test)

In [17]:
from sklearn.metrics import classification_report
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.87      0.87      0.87       182
           1       0.73      0.73      0.73        86

    accuracy                           0.83       268
   macro avg       0.80      0.80      0.80       268
weighted avg       0.83      0.83      0.83       268

In [18]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test,predictions))

[[159  23]
 [ 23  63]]

In [19]:
w=pd.read_csv('test.csv')

In [20]:
w.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [21]:
sex=pd.get_dummies(w['Sex'],drop_first=True)
embarked=pd.get_dummies(w['Embarked'],drop_first=True)

In [22]:
w=pd.concat([w,sex,embarked],axis=1)

In [23]:
w['Age']=w['Age'].fillna(w['Age'].mean())
w['Fare']=w['Fare'].fillna(w['Fare'].mean())

In [24]:
w.drop(['Name','Sex','Cabin','Ticket','Embarked'],axis=1,inplace=True)

In [25]:
#test_w=w.drop('PassengerId',axis=1)

In [26]:
predict_2=o.predict(w)

In [27]:
submission = pd.DataFrame({
        "PassengerId": w["PassengerId"],
        "Survived": predict_2
    })

In [28]:
submission.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [29]:
submission[['Survived','PassengerId']].groupby('Survived',as_index=False).size()

Survived
0    252
1    166
dtype: int64

In [30]:
export_csv=submission.to_csv(r'C:\Users\Mayank\Desktop\submission_final1.csv')